<<<<<<< HEAD
.index {}
=======
*{
    box-sizing: border-box;
}


//-----------------------------------------預約流程-----------------------------------------//

._index_reserve{
    background-image: url(../../img/index_img/index_reserve.png);
    background-size: cover;
    height: 600px;
}
._index_reserve h2{
    font-family: $font_family_c2;
    text-align: center;
    padding-top: 45px;
    margin-bottom: 10px;
}

._index_line{
    margin: 0 auto;
    background-color: black;
    width: 414px;
    height: 2px;
}

//-----------------------------------------招牌菜單-----------------------------------------//
._index_menu{
    background-image: url(../../img/index_img/index_hotmenu_bg.jpg);
    display: flex;
    background-position: center;
}

.index_menu_left{
    width: 45%;
    display: flex;
}
.index_menu_right{
    width: 55%;
    padding-top: 135px;
    padding-bottom: 110px;
}

.index_menu_left{
    flex-direction: column;
    padding-left: 100px;
    padding-top: 100px;
}
.index_menu_right img{
    
    width: 79%;
    box-shadow: 16px -16px #0F3D3E;
}

.index_menu_left ._index_line{
    margin: 0;
    margin-bottom: 55px;
}

.index_menu_left h3, .index_menu_left p{
    margin-bottom: 40px;
}
.index_menu_left p{
    line-height: 2;
}

//-----------------------------------------預約日程-----------------------------------------//

._reserve_date{
    margin-top: 75px;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
}

._reserve_date h2{
    text-align: right;
}

._reserve_date ._line_box  {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

._reserve_date ._line_box ._index_line{
    margin: 0;
}

#calendar {
    margin: 0 auto;
    width: 900px;
    height: 500px;
}

.fc-h-event .fc-event-title-container{
    width: 100%;
    height: 100%;
    background-color: #393939;
}

.fc-toolbar-chunk{
    color: rgb(31, 31, 31);
}
.fc .fc-bg-event{
    background:#0F3D3E;
}.fc .fc-button-primary{
    background-color:white;
    border-color:white;
    color: #1d0101;
  }
  .fc .fc-button-primary:disabled{
    background-color:white;
    border-color:white;
    color: #1d0101;
  }
  .fc .fc-button-primary:hover{
    background: rgb(196, 196, 196);
  }

//-----------------------------------------最新動態-----------------------------------------//

._index_news{
    height: 742px;
    background-image: url(../../img/index_img/index_news_bg.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
._index_news h2 {
    margin-left: 110px;
}
._index_news ._index_line{
    margin: 0;
    margin-left: 110px;
    margin-bottom: 40px;
}
.div_index_newsbox{
    display: flex;
}
._index_news_left {
    width: 25%;
}
._index_news_left img{
    width: 90%;
}
._index_news_right{
    width: 75%;
    padding-left: 90px;
}
._news_table{
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #1d0101;
}
._news_table h7 {
    margin-right: 60px;
    font-size: 18px;
    line-height: 3;
}

._index_news_right ul li{
    border-top: 1px #1d0101;
}

._news_line{
    width: 755px;
    height: 0.5px;
    background-color: #1d0101;
}

._index_news_right li:hover{
    width: 755px;
    background-color: #eeece5;
}



//-----------------------------------------顧客評價-----------------------------------------//
._index_evaluation{
    display: flex;
    flex-direction: column;
}

._index_evaluation h2{
    text-align: right;
    margin-top: 80px;
    margin-right: 100px;
}

._index_evaluation ._line_box  {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}

._index_evaluation ._line_box ._index_line{
    margin: 0;     
    margin-right: 100px;
}

._index_feeback{
    display: flex;
    justify-content:space-between;
    margin: 50px 0;
}

._if1, ._if2, ._if3{
    width: 256px;
    height: 327px;
    background-image: url(../../img/index_img/index_evaluation.png);
    background-size: cover;
}

._if1 img, ._if2 img, ._if3 img{
    width: 231px;
}
._if_body{

    padding-left: 20px;
    padding-right: 20px;
}

._p16{
    font-size: 16px;
}
._p14{
    margin-top: 5px;
    font-size: 14px;
}

._p12{
    font-size: 12px;
}

._star{
    display: flex;
}
._star_line{
    width:15px;
    height: 1px;
    background-color: #E2DCC8;
    margin: auto 0;
    margin-left: 50px;
    margin-right: 5px; 
}
._star_line + ._p12{
    color: #E2DCC8;
}

._if_bottom{
    margin-top: 5px;
}

._ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ddd; 
    overflow: hidden;
    font-size: 15px;
}

._full_star, ._full_star2 {
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #F5CB35;
}
 
._full_star2{
    width: 100%;
}




>>>>>>> dev
