$green-1:#0F3D3E;
$green-2:#164D4F;
$green-3:#59886B;
$Camel-1:#D1CBB8;
$Camel-2:#E2DCC8;
$Camel-3:#F9F4EC;
$red:#B91646;
// 顏色
$color : (
    'green-1': $green-1,
    'green-2': $green-2,
    'green-3': $green-3,
    'Camel-1': $Camel-1,
    'Camel-2': $Camel-2,
    'Camel-3': $Camel-3,
    'red':$red,
    'black': #000,
    'gray':#898989
);

$bgc : (
    'green-1': $green-1,
    'red':$red,
);



