// 前台
.server_btn{
    font-size: 20px;
    letter-spacing: 0.4em;

    @include btnGetor(335px, 15.5px, 18px,
                      white,$green-1, white,null,
                      white, null );
    @include pad(){
        max-width: 335px;
    };       
    @include mobile(){
        width: 95%;
        margin: 0 auto;
    }
}

.home_btn{
   font-size: 24px;
   letter-spacing: 0.165em;

   @include btnGetor(480px, 13.5px, 18px,
                     $green-1,$green-1, white,white,
                     $green-1, null );
    @include pad(){
        max-width: 378px;
    };
    @include mobile(){
       padding: 8px 18px;
       margin: 0 auto;
       letter-spacing: 0.4em;
       font-size: 16px;
        width: 95%;
    }

}


.checkout_btn{
    font-size: 16px;
    letter-spacing: 0.4em;
 
    @include btnGetor(380px, 12px, 20px,
                     white,white, $green-1,$green-1,
                      $green-1, 1px,$green-1);
   
    @include mobile(){
        font-size: 16px;
         width: 95%;
         margin: 0 auto;
     }
 
 }

 .inCart_btn1{
    font-size: 16px;
    letter-spacing: 0.2em;
    // height: 35px;
    @include btnGetor(145px, 5px, 20px,
                     white,white, $green-1,$green-1,
                      $green-1, 1px,$green-1);
   
    @include mobile(){
        max-width: 145px;
         width: 95%;
     }
 }
 
 .inCart_btn2{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2em;
    @include btnGetor(220px, 16px, 37.5px,
    $green-1,$green-1, white,white,
    $green-1, null);

    @include mobile(){
        font-size: 14px;
        max-width: 185px;
        padding: 12.5px 37.5px;
        width: 95%;
    }
    
 }


 .next_btn{
    font-weight: 400;
    letter-spacing: .4em;
   
    @include btnGetor(305px, 8.75px, 20px,
                     white,white, $red,$red,
                      $red, 1px,$red);
    @include mobile(){
        max-width: 380px;
        width: 95%;
        margin: 0 auto;
    }
 }

 .prev_btn{
     font-size: 16px; 
     letter-spacing: 0.2em;
    @include btnGetor(305px, 8.75px, 18px,
                      $green-1,$green-1, white,white,
                      $green-1, null );
    @include pad(){
     max-width: 380px;
    };
    @include mobile(){
    margin: 0 auto;
    letter-spacing: 0.4em;
    width: 95%;
    }

 }


//  後台
.save_btn{
   @extend .font12;
   font-weight: 1000;
   @include btnGetor(85px, 4.5px, 10px,
   black,$Camel-1, white,$Camel-3,
   #8B8B8B, null );
}

.order-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    .timeorder_btn{
        position: relative;
        text-align: center;
        font-size: 8px;
        width: 115px;
        padding: 5px 10px;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        &{
            background-color:#59886B;
        }
        &.is_Order{
            background-color: $red;
        }
        &.is_Order:after{
            content: "";
            position: absolute;
            width: 10px;
            height: 3px;
            background-color: white;
            top: 15%;
            right: 5%;
            font-size: 15px;
            font-weight: bold;
        }
        &:hover{
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
            filter:grayscale(40%);;
        }
    }
}
